.fileUploadBtn {

    color:#FFFFFF !important;
    /*height:60px;*/
    /*width:250px;*/

    background-color:#0d0f53;
    position:relative;
    /*margin:3rem;*/
    padding:1rem !important;
    /*justify-content:center;*/
    /*align-items:center;*/

}

/*[class*="MuiPickersCalendar"]{*/

/*    background-color: #151414;*/
/*    color: #ffffff*/
/*}*/
