*{
    padding: 0;
    margin: 0;
    font-size:40px;
}

.box-one{
    background-color: #EB5757;
    padding:20px;
    height  : 100px ;
    width : 100px ;
    border : 20px solid #9B51E0;
    margin : 60px;
    box-sizing: border-box
}


.box-two{
    background-color: #2D9CDB;
    padding:20px;
    height  : 100px ;
    width : 100px ;

    border : 20px solid #9B51E0;
    margin : 60px
}
